
.loc-card{
    text-align: center;
    object-fit: cover;
    background-color: #FFE2E2;
    
}

.loc-card-img {
    padding: 1vh;
    height: 30vh;
    object-fit: initial;
    background-color: #FFE2E2;
    border-radius: 2vh 2vh 2vh 2vh;
  }

.loc-card-img-default {
    padding: 1vh;
    height: 30vh;
    object-fit: scale-down;
    background-color: #FFE2E2;
    border-radius: 2vh 2vh 2vh 2vh;
  }

  .card-title{
    font-family: SDSamliphopangche_Outline;
    font-size: 35px;
  }
  .card-text{
    font-family: ONE-Mobile-POP;
    font-size: 20px;
  }
  .card-footer{
    font-family: ONE-Mobile-POP;
    font-size: 20px;
  }

  hr { 
      margin: 0;
      border: 0.2vh solid #FFC7C7;
  }