div {
    text-align: center;
}

.login {
    background-color: #FFE2E2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #8785A2;
}
.logo{
    margin-bottom: 5vh;
}
  
h2{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

p{
    margin-top: 1vh;
    font-size: 2vh;
}
  
  