@use postcss-color-function;
@use postcss-nested;


/* Base styling */
.search__input{
    width: 60%;
        padding: 12px 24px;
        margin-top: 10px;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: #FFFFFF;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

}


.filter{ 
  box-shadow: 5px 5px 5px 5px gray;
  margin-top: 20px;
  width: 100%;
  height: 250px;
  background-color: #FFC7C7;
  border-radius: 15px;
  position: relative;
}
/*
===============================================
필터 위치
*/
.locationGerne{
  position: absolute;
  top: 70px;
  left: 300px;

}
.locationDiff{
  position: absolute;
  top: 110px;
  left: 750px;
}


.locationType{
  
  position: absolute;
  top: 150px;
  left: 300px;

}

.locationNum{
  position: absolute;
  top: 110px;
  left: 300px;
}

.locationSort{
  position: absolute;
  top: 200px;
  left: 300px;
}
#filterText{
  font-family: GothicA1;
}






/*
===============================================
필터 버튼 CSS
*/

.filterBtn1{
  margin: 5px;
  background-color: rgb(255, 236, 236);
  border-radius: 5px;
  padding: 3px;
  border: none;
}
.filterBtn2{
  margin: 5px;
  background-color: rgb(255, 236, 236);
  border-radius: 5px;
  padding: 3px;
  border: none;
}
.filterBtn3{
  margin: 5px;
  background-color: rgb(255, 236, 236);
  border-radius: 5px;
  padding: 3px;
  border: none;
}
.filterBtn4{
  margin: 5px;
  background-color: rgb(255, 236, 236);
  border-radius: 5px;
  padding: 3px;
  border: none;
}
.filterBtn5{
  margin: 5px;
  background-color: rgb(255, 236, 236);
  border-radius: 5px;
  padding: 3px;
  border: none;
}
.clicked{
  background-color: rgb(241, 97, 241);
  color: #FFFFFF;
}



