.content-card{
    border-radius: 1vh;
    margin: 3vh 5vh 3vh 2vh;
    border: 0.1vh solid #8785A2;
    padding: 1vh;
}

.like_theme_card{
    position: relative;
}
.like_img{
    position: absolute;
    width: 10vh;
    right: 1vh;
}

.theme_img{
    border: 0.1vh solid #000000;
    width: auto;
    height: 35vh;
    margin: 1vh 1vh 1vh 1vh;
}